{% extends 'base.html' %}

{% load static %}

{% block title %}
    Восстановление пароля
{% endblock %}


{% block css_additional %}
<link rel="stylesheet" href="{% static 'users/css/user_password_reset.css' %}">
{% endblock %}

{% block content %}
{% include 'includes/navbar.html' %}

<h3>Восстановление пароля</h3>
<p>Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль.</p>

<form method="post" >
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Восстановить мой пароль">
</form>
<br><a href="{% url 'profile' %}">Назад</a>
{% endblock %}