{% extends 'base.html' %}

{% load static %}

{% block title %}
    Новый пароль
{% endblock %}


{% block css_additional %}
<link rel="stylesheet" href="{% static 'users/css/user_password_reset.css' %}">
{% endblock %}

{% block content %}

<h3>Введите новый пароль</h3>
<p>Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.</p>

<form method="post" >
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Изменить мой пароль">
</form>
{% endblock %}