{% extends 'base.html' %}

{% load static %}

{% block title %}{{ book.title }} | Изменить книгу{% endblock %}

{% block css %}{% endblock %}

{% block content %}
{% include 'my_admin/includes/navbar.html' %}
<h2>{{ book }}</h2>
<p><a href="{{ book.get_absolute_url }}">Смотреть на сайте</a></p>
<form action="{% url 'admin_book_detail' book_id=book.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {% for f in form %}
        <tr>
            <td>{{ f.label|upper }}:</td>
            <td>{{ f }}</td>
            <td>{% if f.errors %}{{ f.errors }}{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Удалить" name="delete">
    <input type="submit" value="Сохранить и добавить другую книгу" name="save_and_add_new">
    <input type="submit" value="Сохранить и продолжить редактирование" name="save_and_continue">
    <input type="submit" value="Сохранить" name="save">
</form>
{% endblock %}