{% extends 'base.html' %}

{% load static %}

{% block title %}{{ book.title }} | Удалить книгу{% endblock %}

{% block css %}{% endblock %}

{% block content %}
{% include 'my_admin/includes/navbar.html' %}
<h2>Удаление книги {{ book }}</h2>
<form method="post">
    {% csrf_token %}
    <div class="alert alert-warning" role="alert">
        <p>Вы уверены, что хотите удалить книгу <strong>{{ book }}</strong> ?</p>
    </div>
    <button type="submit" class="btn btn-danger">Удалить</button>
</form>
<p><a href="{% url 'admin_book_detail' book_id=book.id %}">Нет, вернуться к редактированию</a></p>
{% endblock %}