{% load account socialaccount %}

{% load static %}

{% block css_additional %}
{% endblock %}

<nav>
    {% if user.is_authenticated and user.is_staff %}
        <a href="{% url 'admin' %}">Admin</a> |
        <a href="{% url 'admin_index' %}">My Admin</a> |
    {% endif %}
    <a href="{% url 'index' %}">Главная</a>
    |
    <a href="{% url 'book_list' %}">Книги</a>
    |
    {% if user.is_authenticated %}
        <a href="{% url 'my_cart' %}">Корзина {% if len_cart > 0 %}({{ len_cart }}){% endif %}</a> |
        <a href="{% url 'profile' %}">
            {% if request.user.first_name %}{{ request.user.first_name }}
            {% else %}{{ request.user }}{% endif %}
        </a> |
        <a href="{% url 'my_logout' %}">Выйти</a>
    {% else %}
        <a href="{% url 'my_login' %}?next={{ request.get_full_path }}">Войти</a> |
        <a href="{% url 'register' %}?next={{ request.get_full_path }}">Регистрация</a>
    {% endif %}
</nav>
